.sidebar {
    vertical-align: top;
    background-color: #C3C048;
    padding: 10px;
}

.sidebar ul, .sidebar li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.sourceforge-logo img {
    border-width: 0;
}

.logo {
    float: right;
}

h1 h2 {
    text-align: center;
}
